<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .post {
        padding: 10px;
        margin: 5px;
        background-color: #f3f3f3;
        }

        nav a {
        color: #d64161;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
        }
    </style>
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">FLASK APP</a>
    <a href="#">About</a>
</nav>
<hr>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>